body {
	font-family: arial;
	font-size: 16px;
	margin: 0;
}

#button_bar td {
	width: 50%;
}

#file_selector {
	display: none;
}

#file_buttons {
	margin-bottom: 5px;
	text-align: center;
}

#content {
	display: table;
	height: 100%;
}

#sidebar {
	border-right: 1px solid black;
	display: table-cell;
	max-width: 250px;
	min-width: 250px;
	padding: 5px;
	vertical-align: top;
	width: 250px;
}

#main {
	display: table-cell;
	width: 100%;
}

#cfg_add {
	text-align: center;
}

#cfg {
	height: 200px;
	width: 100%;
	position: relative;
	z-index: 99;
}

input[type="button"] {
	margin-top: 5px;
}

#button_bar table {
	text-align: center;
	width: 100%;
}

#current_cfg {
	font-size: 20px;
	font-family: monospace;
	margin-top: 5px;
	word-wrap: break-word;
}

#main tr.antiLL1 td:first-child {
	color: red;
	font-weight: bold;
}

#main th {
	background-color: #DDD;
}

#main td, #main th {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

span.notOK {
	color: red;
}

span.ok {
	color: green;
}

#main table.padded th, #main table.padded td {
	padding: 5px 10px;
}

#main table.inline {
	display: inline-table;
	vertical-align: top;
}

tr.highlight td:first-child, span.error {
	color: red;
	text-decoration: underline;
}
